<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
    
    <!-- Agregado para ver más detalles -->
    <% if (error.sqlMessage) { %>
        <h3>SQL Error:</h3>
        <pre><%= error.sqlMessage %></pre>
    <% } %>
</body>
</html>
