<!DOCTYPE html>
<html>
<%- include('./head.ejs') %>
<body>
    <%- include('./navbar.ejs') %>
    
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenido al Sistema de Gestión</h1>
            <p class="lead">Sistema de administración de personas y oficinas</p>
            <hr class="my-4">
            <p>Utilice la barra de navegación para acceder a las diferentes funcionalidades.</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
